



.coll-title {
  font-size:15px;
  color:#409EFF;
}



.mt-20 {margin-top:20px;}

.ml-5 {margin-left:5px;}
.ml-10 {margin-left:10px;}



.miw-6p {min-width:6%;}
.miw-10p {min-width:10%;}
.miw-11p {min-width:11%;}
.miw-12p {min-width:12%;}
.miw-13p {min-width:13%;}



.h-300 {height:300px;}

.mah-300 {max-height:300px;}




